<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start" (click)="routeBack()">
        <ion-icon name="chevron-back-outline" class="xdsffdd"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{task_for}} <span *ngIf="task_for=='Agent'  && agentDetailObj.name">{{agentDetailObj.name}}</span> Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{task_for}} <span
          *ngIf="task_for=='Agent'  && agentDetailObj.name">{{agentDetailObj.name}}</span> Tasks</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab slot="fixed" *ngIf="filteredTasks && filteredTasks.length>0" (click)="routeToAddTasks()" vertical="bottom"
    horizontal="end">

    <ion-button item-start color="primary" (click)="routeToAddTasks()">+ Assign
      Task </ion-button>
  </ion-fab>
   
  Notification bhejna h task ka..policy renew ka bhi bnana h
  <div *ngIf="filteredTasks && filteredTasks.length==0" style="padding:10px">

    <img src="assets/task-icon.jpg" style="height: 50%;
    width: 50%;" />
    <ion-card style="padding:1px;border: 1px solid red;">
      <h5 style="color:red;text-align:center;">
        No task assigned till now <span *ngIf="task_for=='Agent' && agentDetailObj.name"> for
          {{agentDetailObj.name}}</span>.
      </h5>
    </ion-card> <br /> <br />
    Hi. You have not assigned any Task till now <span *ngIf="task_for=='Agent'  && agentDetailObj.name"> for
      {{agentDetailObj.name}}</span>. You can assign it using below button.
    <br /> <br />
    <ion-button item-start color="primary" (click)="routeToAddTasks()">+ Assign
      Task</ion-button>
  </div>

  <div *ngIf="filteredTasks && filteredTasks.length>0" class="centerme"><br />
    <ion-chip class="form-chip-reactangle" (click)="tasklevel_pending=!tasklevel_pending;updateSelectedArr()  "
      [color]="tasklevel_pending  ? 'secondary' :  'dark'">Pending</ion-chip>
    <ion-chip class="form-chip-reactangle" (click)="tasklevel_inprogress=!tasklevel_inprogress;updateSelectedArr()  "
      [color]="tasklevel_inprogress ? 'secondary' :  'dark'">Inprogress</ion-chip>
    <ion-chip class="form-chip-reactangle" (click)="tasklevel_completed=!tasklevel_completed;updateSelectedArr()  "
      [color]="tasklevel_completed ? 'secondary' :  'dark'">Completed</ion-chip>
  </div>
  <span *ngIf="filteredTasks && filteredTasks.length>0 && filteredTasks2 && filteredTasks2.length==0 "
    style="padding:10px">


    <ion-card style="padding:1px;border: 1px solid red;">
      <h5 style="color:red;text-align:center;">
        No filtered data found. Try to reset filtered parameters
      </h5>
    </ion-card>
  </span>
  <ion-list *ngIf="filteredTasks2 && filteredTasks2.length>0">

    <ion-item detail="true" class="itemborder" *ngFor="let perTask of filteredTasks2; let i = index ">

      <ion-label>
        <p id="open-modal{{ i}}" (click)=" showingWhichSectionInModal='Info';">

          <b>{{perTask. taskname}}</b>
          <br />


          [<b slot="start" *ngIf="perTask.taskpriority=='High'" style="color:red">
            {{perTask.taskpriority}} priority
          </b>
          <b slot="start" *ngIf="perTask.taskpriority=='Medium'" style="color:orange">
            {{perTask.taskpriority}} priority
          </b>
          <b slot="start" *ngIf="perTask.taskpriority=='Low'" style="color:blue">
            {{perTask.taskpriority}} priority
          </b>]
          <br /> Task Status : <b *ngIf="perTask.tasklevel=='Pending'" style="color:orange">
            Pending
          </b>
          <b *ngIf="perTask.tasklevel=='Inprogress'" style="color:blue">
            In-progress ({{perTask.inprogress_date | date: 'longDate'}})
          </b>
          <b *ngIf="perTask.tasklevel=='Completed'" style="color:green">
            Completed ({{perTask.complete_date | date: 'longDate'}})
          </b> <br />
          Related Account : {{perTask.account_title}}

          <br />
          Related policy : {{perTask.policy_title}}

          <br />

          Task For : <span *ngIf="perTask.task_for=='My'">
            Me
          </span> <span *ngIf="perTask.task_for=='Agent'">
            {{perTask.task_for}} {{perTask.agentname}} <ion-icon name="phone-portrait-outline"></ion-icon>
            {{perTask.agentmobile}}
          </span>
          <br />
          From {{perTask.start_date | date: 'longDate'}} {{perTask.start_time}} to
          {{perTask.expected_end_date | date: 'longDate'}} {{perTask.expected_end_time}}
          <br /> Task Details : <br />
          {{perTask.taskdetail}}


        </p>
        <span *ngIf="perTask.tasklevel!=='Completed'">
          <ion-icon name="create-outline" class="per-ion-icon" (click)="editTask(perTask.task_id_int)"
            item-right></ion-icon>
          <ion-icon name="trash-outline" item-right color="danger" (click)="deleteTask(perTask.task_id_int)"
            class="per-ion-icon"></ion-icon>
        </span>


        <ion-chip id="open-modal-status{{ i}}" *ngIf="perTask.tasklevel!=='Completed'" style="float: right;"
          class="form-chip-reactangle" size="small" fill="outline" (click)="showingWhichSectionInModal='StatusChange'"
          [color]="perTask.tasklevel=='Pending' ? 'primary' : perTask.tasklevel=='Inprogress' ? 'success' :  'medium'">
          <span *ngIf="perTask.tasklevel=='Pending'">
            Make it In-Progress
          </span> <span *ngIf="perTask.tasklevel=='Inprogress'">
            Make it Completed
          </span>
        </ion-chip>
      </ion-label>
    </ion-item>

  </ion-list>
  <!--modall to show info-->
  <span *ngFor="let taskfordetailobj of filteredTasks2; let i = index ">
    <ion-modal *ngIf="filteredTasks2 && filteredTasks2.length>0" #modal trigger="open-modal{{i}}"
      [initialBreakpoint]="1" [breakpoints]="[0, 0.25, 0.5, 0.75,0.85,0.90,1]">
      <ng-template>
        <ion-content>
          <h3 class="centerme">{{taskfordetailobj.taskname}}</h3>
          <div style="min-height:90%;overflow-y: scroll;">


            <p style="padding: 10px;"> {{taskfordetailobj.taskdetail}} </p>

            <div class="mycard" *ngIf="taskfordetailobj.tasklevel=='Inprogress' || taskfordetailobj.tasklevel=='Completed'">
              <h4 class="centerme"
              > Task History
            </h4>
            <ion-card style="padding: 10px;"
              *ngIf="taskfordetailobj.tasklevel=='Inprogress' || taskfordetailobj.tasklevel=='Completed'">
              In-progress Date - {{taskfordetailobj.inprogress_date | date: 'longDate'}}
              <br />
              {{taskfordetailobj.inprogress_remark}}
            </ion-card>
            <ion-card style="padding: 10px;" *ngIf="  taskfordetailobj.tasklevel=='Completed'">
              Complete Date - {{taskfordetailobj.complete_date | date: 'longDate'}}
              <br />
              {{taskfordetailobj.complete_remark}}

            </ion-card>
            </div>
            
            
            <span>
              <h6 style="padding-left: 10px;padding-right: 10px;"
                *ngIf="   (taskfordetailobj.competedRemarkIfPhsicalDoWereThere.length>0  || taskfordetailobj.imageArr.length>0) && taskfordetailobj.task_for=='Agent'">
                Documents given to {{taskfordetailobj.task_for}} {{taskfordetailobj.agentname}}
              </h6>

              <span *ngIf=" taskfordetailobj.tasklevel=='Completed' &&
              taskfordetailobj.competedRemarkIfPhsicalDoWereThere.length>0 && taskfordetailobj.task_for=='Agent'">
                <div class="mycard">
                  <h6 style="padding-left: 10px;padding-right: 10px;" align="center"> Physical Documents </h6>
                  <span
                    *ngFor="let perhardFileWasGiven of taskfordetailobj.competedRemarkIfPhsicalDoWereThere; let i = index ">



                    <ion-card style="padding: 10px;">
                      {{perhardFileWasGiven.account_or_policy}} {{perhardFileWasGiven.account_or_policy_title}}
                      <br /> {{perhardFileWasGiven.doc_name}}
                    </ion-card> </span>


                  <br />
                </div>
              </span>

              <span
                *ngIf=" taskfordetailobj.tasklevel!='Completed' && (taskfordetailobj.selectedFoundAcc || taskfordetailobj.selectedFoundPolicy)"><br />
                <div class="mycard">
                  <h6 style="padding-left: 10px;padding-right: 10px;" align="center"> Physical Documents </h6> <span
                    *ngIf="taskfordetailobj.selectedFoundAcc && taskfordetailobj.accountHardCopyDocArr.length>0 && taskfordetailobj.task_for=='Agent'">
                    <ion-card style="padding: 10px;">
                      <h6 style="margin-left: 10px;" *ngIf=" taskfordetailobj.selectedFoundAcc">
                        Account - {{taskfordetailobj.account_title}} </h6>


                      <span *ngFor="let perhardFile of taskfordetailobj.accountHardCopyDocArr; let i = index ">

                        <span *ngIf=" perhardFile.selected">

                          <ion-chip class="form-chip" *ngIf=" perhardFile.selected"
                            [color]="perhardFile.selected==true ? 'secondary' :  'dark'">
                            {{perhardFile.document_name}}
                          </ion-chip> </span>
                      </span>
                    </ion-card>


                  </span>
                  <br />
                  <span
                    *ngIf="taskfordetailobj.selectedFoundPolicy && taskfordetailobj.policyHardCopyDocArr.length>0 && taskfordetailobj.task_for=='Agent'">
                    <ion-card style="padding: 10px;">
                      <h6 style="margin-left: 10px;" *ngIf=" taskfordetailobj.selectedFoundPolicy">
                        Policy - {{taskfordetailobj.policy_title}}
                      </h6>
                      <span *ngFor="let perhardFile of taskfordetailobj.policyHardCopyDocArr; let i = index ">
                        <span *ngIf="   perhardFile.selected">

                          <ion-chip class="form-chip" *ngIf="  perhardFile.selected"
                            [color]="perhardFile.selected==true ? 'secondary' :  'dark'">
                            {{perhardFile.document_name}}
                          </ion-chip> </span>
                      </span>
                    </ion-card>

                  </span> <br />
                </div>
              </span>



              <div [class]="taskfordetailobj.tasklevel!='Completed' || taskfordetailobj.imageArr.length>0 ? 'mycard':''">
                <h6 style="padding-left: 10px;padding-right: 10px;" align="center"
                  *ngIf="taskfordetailobj.imageArr.length>0"> Digital
                  Documents </h6>
                <app-fileupload [moduleInfo]="moduleInfoList" *ngIf="taskfordetailobj.tasklevel!='Completed'"
                  (newmoduleInfo)="updateImageInfoFun($event,taskfordetailobj)"></app-fileupload>


                <ion-card *ngFor="let perFile of taskfordetailobj.imageArr.slice().reverse(); let i = index ">
                  <ion-item>
                    <ion-thumbnail slot="start" (click)="viewDoc(perFile)">
                      <img *ngIf="perFile.filetype=='Image'" [src]="perFile.serverpath+perFile.filepath" />
                      <ion-icon style="font-size: xxx-large;" name="document-outline"
                        *ngIf="perFile.filetype!='Image'"></ion-icon>
                    </ion-thumbnail>
                    <ion-label>
                      <span (click)="viewDoc(perFile)">
                        {{perFile.originalname}}
                        <br />
                      </span>

                      <ion-icon name="download-outline" class="per-ion-icon margin-top-10" item-right
                        (click)="viewDoc(perFile)"></ion-icon>
                      <ion-icon name="trash-outline" *ngIf="  taskfordetailobj.tasklevel!='Completed'" color="danger"
                        style="margin-left: 10px;" class="per-ion-icon margin-top-10"
                        (click)="deleteFile(perFile,i,taskfordetailobj)"></ion-icon>
                    </ion-label>
                  </ion-item>
                </ion-card>
              </div>
            </span>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </span>
  <!--modall to edit status info-->

  <span *ngFor="let taskfordetailobj of filteredTasks2; let i = index ">
    <ion-modal *ngIf="filteredTasks2 && filteredTasks2.length>0  " #modal trigger="open-modal-status{{i}}"
      [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75,0.85,0.90,1]"
      (ionModalDidDismiss)="getFilteredTasksList(7)">
      <ng-template>
        <ion-content><span *ngIf="taskfordetailobj.tasklevel!=='Completed'">
            <h3 align="center">{{taskfordetailobj.taskname}}</h3>
            <span *ngIf="taskfordetailobj.tasklevel=='Pending'">
              <ion-item>
                <ion-label position="floating" class="margin-bottom-12">Task In-Progress Date <span
                    class="required">*</span></ion-label>
                <ion-input type="date" [(ngModel)]="taskfordetailobj.inprogress_date"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Remark </ion-label>
                <ion-textarea [autoGrow]="true" placeholder=" "
                  [(ngModel)]="taskfordetailobj.inprogress_remark"></ion-textarea>
              </ion-item>
            </span>
            <span *ngIf="taskfordetailobj.tasklevel=='Inprogress'">


              <ion-item>
                <ion-label position="floating" class="margin-bottom-12">Task Complete Date <span
                    class="required">*</span></ion-label>
                <ion-input type="date" [(ngModel)]="taskfordetailobj.complete_date"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Remark </ion-label>
                <ion-textarea [autoGrow]="true" placeholder=" "
                  [(ngModel)]="taskfordetailobj.complete_remark"></ion-textarea>
              </ion-item>
            </span>




            <ion-chip *ngIf="taskfordetailobj.tasklevel!=='Completed'" style="float: right;"
              class="form-chip-reactangle" size="small" fill="outline" (click)="changeStatusOfTask(taskfordetailobj)"
              [color]="taskfordetailobj.tasklevel=='Pending' ? 'primary' :  'success'">
              <span *ngIf="taskfordetailobj.tasklevel=='Pending'">
                Make it In-Progress
              </span> <span *ngIf="taskfordetailobj.tasklevel=='Inprogress'">
                Make it Completed
              </span>

            </ion-chip><br /><br />
            <p style="color: red;padding: 10px;"
              *ngIf="taskfordetailobj.tasklevel=='Inprogress' && (taskfordetailobj.selectedFoundAcc || taskfordetailobj.selectedFoundPolicy)">
              We will consider that at the time of task completion you have recieved all physical documents</p>

            <br /><br /> 
          </span>

          <h4 class="centerme"
            *ngIf="taskfordetailobj.tasklevel=='Inprogress' || taskfordetailobj.tasklevel=='Completed'"> Task History
          </h4>
          <ion-card style="padding: 10px;"
            *ngIf="taskfordetailobj.tasklevel=='Inprogress' || taskfordetailobj.tasklevel=='Completed'">
            In-progress Date - {{taskfordetailobj.inprogress_date | date: 'longDate'}}
            <br />
            {{taskfordetailobj.inprogress_remark}}
          </ion-card>
          <ion-card style="padding: 10px;" *ngIf="  taskfordetailobj.tasklevel=='Completed'">
            Complete Date - {{taskfordetailobj.complete_date | date: 'longDate'}}
            <br />
            {{taskfordetailobj.complete_remark}}

          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>
  </span>

</ion-content>