<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start" routerLink="../../../../agents/{{working_for_user_or_agent}}">
        <ion-icon name="chevron-back-outline" class="xdsffdd"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{working_for_user_or_agent}} Details 
      <ion-icon name="trash-outline" item-right color="danger" (click)="deleteAgentActionSheet(agentDetailObj.agent_id_int)"
        class="per-ion-icon float-right "></ion-icon>
      <ion-icon name="create-outline" class="per-ion-icon float-right padding-right-10"
        (click)="editAgent(agentDetailObj.agent_id_int)" item-right></ion-icon>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{working_for_user_or_agent}} Details</ion-title>
    </ion-toolbar>
  </ion-header>


 
  <app-fileupload [moduleInfo]="moduleInfo" (newmoduleInfo)="updateImageInfoFun($event)"></app-fileupload>

  <ion-card-header>
    <ion-card-title> {{agentDetailObj.name}}</ion-card-title>
    <ion-card-subtitle> 
       
      <span >{{agentDetailObj.mobile}} </span>
      



      <span *ngIf="agentDetailObj.alt_mobile && agentDetailObj.alt_mobile!=''">
        , {{agentDetailObj.alt_mobile}}
      </span>


      <span *ngIf="agentDetailObj.email && agentDetailObj.email!=''">
        <br />  {{agentDetailObj.email}}
      </span>
      <span *ngIf="agentDetailObj.dob && agentDetailObj.dob!=''">
        <br />  {{agentDetailObj.dob | date: 'longDate'}}
      </span>
      <span *ngIf="agentDetailObj.aadhaar && agentDetailObj.aadhaar!=''">
        <br />  {{agentDetailObj.aadhaar}}
      </span>
      <span *ngIf="agentDetailObj.pancard && agentDetailObj.pancard!=''">
        <br />  {{agentDetailObj.pancard}}
      </span>
      <br /> {{agentDetailObj.address}} {{agentDetailObj.city}} {{agentDetailObj.state}} {{agentDetailObj.pincode}}
    </ion-card-subtitle> </ion-card-header>

    <ion-button fill="clear"  
     [hidden]="working_for_user_or_agent=='User'" id="open-modal">
     Check agent Licenses  
     </ion-button>


  <ion-grid [fixed]="true" *ngFor="let perRow of tileList ">
    <ion-row>
      <ion-col *ngFor="let perCol of perRow.rowKey" (click)="performAtion(perCol)" id="{{perCol.id}}">
        <span *ngIf="perCol.id"> 
         
 
          <img src=" {{perCol.img}}" style=" {{perCol.imgstyle}}" />
          <br />
        <span style=" color:  {{perCol.titleColor}}">{{perCol.title}} <br />
          <small style=" color:  {{perCol.subtitleColor}}">
            {{perCol.subtitle}}
          </small>

        </span>
      </span>
      </ion-col>


    </ion-row>
  </ion-grid>
  

  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75,0.90]">
    <ng-template>
      <ion-content  > 
        <h3 class="centerme">License numbers list</h3>
        <ion-list *ngIf='agentDetailObj.licenseArr.length==0'>
          <ion-item>
            
            <ion-label>
              
              <ion-card style="padding:10px;border: 1px solid red;">
                <h2 style="color:red;text-align:center;">
                  No License Added For This Agent
                </h2>
              </ion-card>
            </ion-label>
          </ion-item>
          
        </ion-list>
        <ion-list *ngIf='agentDetailObj.licenseArr.length>0'>
          <ion-item *ngFor="let perLicense of agentDetailObj.licenseArr;let i = index">
            
            <ion-label>
              <h2> {{perLicense.organisation}} license number <b> {{perLicense.license_no}}
              </b></h2>
              <p>Valid from <b> {{perLicense.license_start_date | date: 'longDate'}}</b> to <b>
                {{perLicense.license_end_date | date: 'longDate'}}</b></p>
            </ion-label>
          </ion-item>
          
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal   #modal trigger="open-modalDocs" 
  [initialBreakpoint]="0.90" [breakpoints]="[0, 0.25, 0.5, 0.75,0.85,0.90,1]">
    <ng-template>
      <ion-content>
        
        <h2 style="text-align:center;"  *ngIf="agentDetailObj.imageArr && agentDetailObj.imageArr.length >0;">
           Documents Uploaded
        </h2>

        <app-fileupload [moduleInfo]="moduleInfoList" (newmoduleInfo)="updateImageInfoFunList($event,agentDetailObj)"></app-fileupload>
          <br /> 
        <div style="max-height:90%;overflow-y: scroll;">

          <ion-card *ngFor="let perFile of agentDetailObj.imageArr.slice().reverse(); let i = index ">
            <ion-item >
              <ion-thumbnail slot="start" (click)="viewDoc(perFile)">
                <img *ngIf="perFile.filetype=='Image'" [src]="perFile.serverpath+perFile.filepath" />
                <ion-icon style="font-size: xxx-large;" name="document-outline"
                  *ngIf="perFile.filetype!='Image'"></ion-icon>
              </ion-thumbnail>
              <ion-label>
                <span (click)="viewDoc(perFile)">  {{perFile.originalname}}</span>
              
                <br />
                <ion-icon name="download-outline" (click)="viewDoc(perFile)" class="per-ion-icon margin-top-10" 
                  item-right></ion-icon>
                  <ion-icon name="trash-outline" color="danger" style="margin-left: 10px;" class="per-ion-icon margin-top-10"
                  (click)="deleteFile(perFile,i,agentDetailObj)"></ion-icon>
              </ion-label>
            </ion-item>
          </ion-card> <br /> <br />
        </div>
       
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>