<ion-header [translucent]="true" *ngIf="bankList">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="CommonService.showTabMenu =false">

      <span *ngIf="isOpenedAsModal">
        <ion-buttons slot="start"   (click)="dismissComponentAsModal()">
          <ion-icon name="chevron-back-outline" class="xdsffdd"></ion-icon>
        </ion-buttons>
      </span>
      <span *ngIf="!isOpenedAsModal">
      
      <ion-buttons slot="start" *ngIf="!account_id_int"
        routerLink="../../../../../accounts/{{account_or_policy}}/{{showingListFor}}/{{idOfthePersonForWhomListIs}}">
        <ion-icon name="chevron-back-outline" class="xdsffdd"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="start" *ngIf="account_id_int && CommonService.accountLastPage == 'List'"
        routerLink="../../../../../../accounts/{{account_or_policy}}/{{showingListFor}}/{{idOfthePersonForWhomListIs}}">
        <ion-icon name="chevron-back-outline" class="xdsffdd"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="start" *ngIf="account_id_int && CommonService.accountLastPage == 'Detail'"
        routerLink="../../../../../../accounts/accountsdetail/{{account_or_policy}}/{{showingListFor}}/{{idOfthePersonForWhomListIs}}/{{account_id_int}}">
        <ion-icon name="chevron-back-outline" class="xdsffdd"></ion-icon>
      </ion-buttons> </span>
    </ion-buttons>
    <ion-title class="ion-text-center">

      <span *ngIf="!account_id_int">
        Add New {{headingP}}

      </span> <span *ngIf="account_id_int">
        Update {{headingP}}
      </span>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> <span *ngIf="!account_id_int">
          Add New {{headingP}}
        </span> <span *ngIf="account_id_int">
          Update {{headingP}}
        </span> </ion-title>
    </ion-toolbar>
  </ion-header>
 

  <div class="centerme margin-top-10">
    <ion-button shape="round" (click)="saveDataOfAccount()"> <span *ngIf="!account_id_int">
        Save Details
      </span> <span *ngIf="account_id_int">
        Update Details
      </span> </ion-button>
  </div>

  <small class="centerme" style="margin-top: 10px;">Fields with asterik (<span class="required">*</span>) are required
  </small>


  <ion-segment color="primary" value="accountDetails" (ionChange)="segmentChange($event)">
    <ion-segment-button value="accountDetails">
      <ion-label>Details </ion-label>
    </ion-segment-button>
    <ion-segment-button value="nomination">
      <ion-label>Nomination </ion-label>
    </ion-segment-button>

    <ion-segment-button value="docs">
      <ion-label>Document </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="currentSegment=='accountDetails'">

    <br />


    <ion-label position="floating" style="margin-left: 13px">Account Opening in
      <span class="required">*</span>
    </ion-label>

    <br />


    <ion-chip class="form-chip" *ngFor="let perOrganisation_typeList of organisation_typeList; "
      (click)="accountDetailObj.bank_or_post_office=perOrganisation_typeList.name; assignOrganisationWithCondition(perOrganisation_typeList.name)"
      [color]="accountDetailObj.bank_or_post_office==perOrganisation_typeList.name ? 'secondary' :  'dark'">{{perOrganisation_typeList.name}}</ion-chip>
    <br />
    <br />

    <ion-item *ngIf="accountDetailObj.bank_or_post_office=='Bank'">
      <ion-label position="floating">Select Bank <span class="required">*</span> </ion-label> <ion-select
        placeholder="Select Bank" [(ngModel)]="accountDetailObj.organisation">
        <ion-select-option value="{{perBank.name}}" *ngFor="let perBank of bankList.banks; ">

          {{perBank.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="accountDetailObj.bank_or_post_office">
      <ion-label position="floating">{{accountDetailObj.bank_or_post_office}} Branch Address <span
          class="required">*</span></ion-label>
      <ion-textarea [autoGrow]="true" placeholder="eg. Office 23 Block c "
        [(ngModel)]="accountDetailObj.postoffice_bank_address"></ion-textarea>
    </ion-item>



    <ion-item>
      <ion-label position="floating">{{headingP}} Title <span class="required">*</span></ion-label>
      <ion-input type="text" placeholder="eg. HDFC Account For Son"
        [(ngModel)]="accountDetailObj.account_title"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label position="floating">{{headingP}} Holder <span class="required">*</span> </ion-label>
      <ion-select placeholder="Select Account Holder " [selectedText]="accountDetailObj.account_holder_name"
        [(ngModel)]="accountDetailObj.user_id_int"
        (ionChange)="updateSelectUserObjForExtraInfo();updateDropDownValuesForSelectAccountHolderAndAgent()">
        <span *ngFor="let perUser of CommonService.agentList; ">

          <ion-select-option *ngIf="perUser.working_for_user_or_agent=='User'" value="{{perUser.agent_id_int}}">
            {{perUser.name}}
          </ion-select-option>
        </span>
      </ion-select>

    </ion-item>
    <ion-button fill="clear" style="font-size: small;"  (click)="adduser('User')">Add Account Holder</ion-button>

    <ion-item>
      <ion-label position="floating">Mobile No. Used <span class="required">*</span></ion-label>
      <ion-input type="text" placeholder="9845334453"
        [(ngModel)]="accountDetailObj.mobile_given_for_account"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email Id Used <span class="required">*</span></ion-label>
      <ion-input type="text" placeholder="eg. kishan@gmail.com"
        [(ngModel)]="accountDetailObj.email_given_for_account"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Address Used <span class="required">*</span></ion-label>
      <ion-textarea [autoGrow]="true" placeholder="eg. House 23 Block c "
        [(ngModel)]="accountDetailObj.address_given_for_account"></ion-textarea>
    </ion-item>

    <span *ngIf="accountDetailObj.bank_or_post_office=='Bank'">


      <br /> <br />
      <ion-label style="margin-left: 13px" position="floating">{{headingP}}  Type <span class="required">*</span></ion-label>

      <br />
      <ion-chip class="form-chip" *ngFor="let prOption of account_typeList; "
        (click)="accountDetailObj.account_type=prOption.option ;"
        [color]="accountDetailObj.account_type==prOption.option ? 'secondary' :  'dark'">{{prOption.option}}</ion-chip>
    </span>
    <ion-item>
      <ion-label position="floating">{{headingP}}  No. <span class="required">*</span></ion-label>
      <ion-input type="text" placeholder="eg. 3229889222211" [(ngModel)]="accountDetailObj.account_number"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Helping Agent </ion-label>
      <ion-select placeholder="Select Helping Agent " [selectedText]="accountDetailObj.agent_name"
        [(ngModel)]="accountDetailObj.agent_id_int" (ionChange)="updateDropDownValuesForSelectAccountHolderAndAgent()">
        <ion-select-option value="">
          None
        </ion-select-option> <span *ngFor="let perAgent of CommonService.agentList; ">
          <ion-select-option value="{{perAgent.agent_id_int}}" *ngIf="perAgent.working_for_user_or_agent=='Agent'">
            {{perAgent.name}}
          </ion-select-option>
        </span>
      </ion-select>
    </ion-item>
    <ion-button fill="clear" style="font-size: small;"  (click)="adduser('Agent')">Add Agent</ion-button>



    <ion-item>
      <ion-label position="floating">
        Customer Id/CIF Id <span class="required">*</span>
      </ion-label>
      <ion-input placeholder="4321354211" type="text" [(ngModel)]="accountDetailObj.unique_id_for_account"></ion-input>


    </ion-item>
    <i style="margin-left: 13px"> <small *ngIf="accountDetailObj.bank_or_post_office" class="required">Any unique id
        provided by {{accountDetailObj.bank_or_post_office}}</small>
    </i>
    <ion-item *ngIf="accountDetailObj.bank_or_post_office=='Bank'">
      <ion-label position="floating">Bank IFSC Code <span class="required">*</span></ion-label>
      <ion-input type="text" placeholder="HDFC2324" [(ngModel)]="accountDetailObj.ifsc"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating" class="margin-bottom-12">{{headingP}} opening date <span
          class="required">*</span></ion-label>
      <ion-input type="date" [(ngModel)]="accountDetailObj.account_opening_date"></ion-input>
    </ion-item>
    
    <br /> <br />
    <ion-label style="margin-left: 13px" position="floating">Is Netbanking enabled ?</ion-label>

    <br />
    <ion-chip class="form-chip" *ngFor="let prOption of yesnoList; "
      (click)="accountDetailObj.is_netbanking_enabled=prOption.option ;"
      [color]="accountDetailObj.is_netbanking_enabled==prOption.option ? 'secondary' :  'dark'">{{prOption.option}}</ion-chip>

    <br /> <br />
    <ion-label style="margin-left: 13px" position="floating">Is Pan No. attached ?</ion-label>

    <br />
    <ion-chip class="form-chip" *ngFor="let prOption of yesnoList; "
      (click)="accountDetailObj.is_pancard_attached=prOption.option ;"
      [color]="accountDetailObj.is_pancard_attached==prOption.option ? 'secondary' :  'dark'">{{prOption.option}}</ion-chip>
    <br /> <br />
    <ion-label style="margin-left: 13px" position="floating">Is Adhaar No. attached ?</ion-label>

    <br />
    <ion-chip class="form-chip" *ngFor="let prOption of yesnoList; "
      (click)="accountDetailObj.is_adhaar_attached=prOption.option ;"
      [color]="accountDetailObj.is_adhaar_attached==prOption.option ? 'secondary' :  'dark'">{{prOption.option}}</ion-chip>
    <br /> <br />
    <ion-item>
      <ion-label position="floating">Extra Information </ion-label>
      <ion-textarea [autoGrow]="true" placeholder="Anything more you want to mention about this {{headingP}}"
        [(ngModel)]="accountDetailObj.otherdetails"></ion-textarea>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="currentSegment=='nomination'">
 
    <span *ngIf='showNomineeform'> <br /> <br />
      <b class="centerme">Add Nominees of {{headingP}}</b><br /> <br />
      <ion-label position="floating" style="margin-left: 13px">Select User <span class="required">*</span>
      </ion-label>


      <br />


      <span *ngFor="let perUser of availableNomineesList ">
        <ion-chip class="form-chip"
          *ngIf=" perUser.agent_id_int!= accountDetailObj.user_id_int"
          (click)="nDetailObj.nominee_id=perUser.agent_id_int ;nDetailObj.nominee_name=perUser.name ;"
          [color]="nDetailObj.nominee_id==perUser.agent_id_int ? 'secondary' :  'dark'">
          {{perUser.name}}
        </ion-chip>
      </span>
      <br />
      <br /> <br />

      <ion-label style="margin-left: 13px" position="floating">Relation with {{headingP}} Holder<span
          class="required">*</span> </ion-label>


      <br />
      <ion-chip class="form-chip width-158" (click)="nDetailObj.relation='Father';  "
        [color]="nDetailObj.relation=='Father'  ? 'secondary' :  'dark'">Father</ion-chip>
      <ion-chip class="form-chip width-158" (click)="nDetailObj.relation='Mother';  "
        [color]="nDetailObj.relation=='Mother' ? 'secondary' :  'dark'">Mother</ion-chip><br />
      <ion-chip class="form-chip width-158" (click)="nDetailObj.relation='Grand-father';  "
        [color]="nDetailObj.relation=='Grand-father' ? 'secondary' :  'dark'">Grand-father</ion-chip>
      <ion-chip class="form-chip width-158" (click)="nDetailObj.relation='Grand-mother';  "
        [color]="nDetailObj.relation=='Grand-mother' ? 'secondary' :  'dark'">Grand-mother</ion-chip><br />
      <ion-chip class="form-chip width-158" (click)="nDetailObj.relation='Son';  "
        [color]="nDetailObj.relation=='Son' ? 'secondary' :  'dark'">Son</ion-chip>
      <ion-chip class="form-chip width-158" (click)="nDetailObj.relation='Daughter';  "
        [color]="nDetailObj.relation=='Daughter' ? 'secondary' :  'dark'">Daughter</ion-chip><br />
      <ion-chip class="form-chip width-158" (click)="nDetailObj.relation='Grand-son';  "
        [color]="nDetailObj.relation=='Grand-son' ? 'secondary' :  'dark'">Grand-son</ion-chip>
      <ion-chip class="form-chip width-158" (click)="nDetailObj.relation='Grand-daughter';  "
        [color]="nDetailObj.relation=='Grand-daughter' ? 'secondary' :  'dark'">Grand-daughter</ion-chip><br />
      <ion-chip class="form-chip width-158" (click)="nDetailObj.relation='Brother';  "
        [color]="nDetailObj.relation=='Brother' ? 'secondary' :  'dark'">Brother</ion-chip>
      <ion-chip class="form-chip width-158" (click)="nDetailObj.relation='Sister';  "
        [color]="nDetailObj.relation=='Sister' ? 'secondary' :  'dark'">Sister</ion-chip>


      <br />
      <br />
      <ion-item>
        <ion-label position="floating">Share of amount % <span class="required">*</span> </ion-label>
        <ion-input type="number" [(ngModel)]="nDetailObj.sharepercent" placeholder=" "></ion-input>
      </ion-item>
      <ion-button fill="outline" color="primary" class="rightme" (click)="addNomineeNumbers()">Add </ion-button>
      <br /> <br />
    </span>
    <br /> <br />
    <b class="centerme">Nominees list</b>
    <span *ngIf='accountDetailObj.nomineeArr.length==0'>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>You have not added any Nominee till now !</ion-card-subtitle>
        </ion-card-header>

      </ion-card>
    </span>
    <span *ngIf='accountDetailObj.nomineeArr.length>0'>
      <ion-card *ngFor="let perNominee of accountDetailObj.nomineeArr.slice().reverse();let i = index">
        <ion-card-header>
          <ion-card-subtitle>

            {{perNominee.nominee_name}} ( {{perNominee.relation}} ) will get {{perNominee.sharepercent}} %
            <ion-icon name="trash-outline" item-right color="danger" style="float:right" (click)="deleteNominee(i)"
              class="per-ion-icon">

            </ion-icon>
          </ion-card-subtitle>

        </ion-card-header>

      </ion-card>
    </span>
    <span *ngIf='!showNomineeform'>
      <ion-button fill="clear" color="primary" class="rightme" (click)="showNomineeform=true"> + Add
        More
      </ion-button>

    </span>

  </ion-list>
  <ion-list *ngIf="currentSegment=='docs'">
    <br /> 
    <span class="centerme">
      <ion-chip class="form-chip-reactangle" (click)="whattypeofdocadding='hard';  "
      [color]="whattypeofdocadding =='hard' ? 'secondary' :  'dark'">Physical Docs</ion-chip>
    <ion-chip class="form-chip-reactangle" (click)="whattypeofdocadding='soft';  "
      [color]="whattypeofdocadding =='soft' ? 'secondary' :  'dark'">Digital Docs</ion-chip><br /> <br />
   
  </span>  <br /><span *ngIf="whattypeofdocadding=='hard'">
      
      <span *ngIf='showHardDocsform'>
        <b class="centerme">Physical Documents </b>
        <small style="padding:10px" class="centerme">Add related Physical Documents !</small>
        <ion-item>
          <ion-label position="floating">Document Name<span class="required">*</span></ion-label>
          <ion-input type="text" placeholder="Passbook" [(ngModel)]="hardCopyDetailObj.document_name"></ion-input>
        </ion-item>
        <ion-button fill="outline" color="primary" class="rightme" (click)="addHardCopiesDoc()">Add </ion-button>

        <br /> <br /> <br /> <br />
      </span>

      <b class="centerme">Physical Documents list</b>
      <span *ngIf='accountDetailObj.hardCopyDocArr.length==0'>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>You have not added any Physical Document name till now !</ion-card-subtitle>
          </ion-card-header>

        </ion-card>
      </span>
      <span *ngIf='accountDetailObj.hardCopyDocArr.length>0'>


        <ion-card *ngFor="let perhardFile of accountDetailObj.hardCopyDocArr.slice().reverse(); let i = index ">


          <ion-card-header>
            <ion-card-subtitle>

              {{perhardFile.document_name}}    <span *ngIf="perhardFile.task_name">
                <br />Currently this document is with Agent
                <b>{{perhardFile.agent_name}}</b>  for task 
                  
                 <b>{{perhardFile.task_name}}</b> 
              </span>
              <ion-icon name="trash-outline" item-right color="danger" style="float:right"
                (click)="deleteHardCopiesDoc(i)" class="per-ion-icon">

              </ion-icon>
            </ion-card-subtitle>

          </ion-card-header>

        </ion-card>
        <span *ngIf='!showHardDocsform'>
          <ion-button fill="clear" color="primary" class="rightme" (click)="showHardDocsform=true"> + Add
            More
          </ion-button>

        </span>

      </span>

    </span>
    <span *ngIf="whattypeofdocadding=='soft'">


      <b class="centerme">Digital Documents </b>
      <small style="padding:10px" class="centerme">Add related Digital Documents !</small>
      <app-fileupload [moduleInfo]="moduleInfoList" (newmoduleInfo)="updateImageInfoFunList($event)"></app-fileupload>

      <ion-card *ngFor="let perFile of accountDetailObj.imageArr.slice().reverse(); let i = index ">
        <ion-item>
          <ion-thumbnail slot="start" (click)="viewDoc(perFile)">
            <img *ngIf="perFile.filetype=='Image'" [src]="perFile.serverpath+perFile.filepath" />
            <ion-icon style="font-size: xxx-large;" name="document-outline"
              *ngIf="perFile.filetype!='Image'"></ion-icon>
          </ion-thumbnail>
          <ion-label>
            {{perFile.originalname}}
            <br />
            <ion-icon name="download-outline" class="per-ion-icon margin-top-10" (click)="viewDoc(perFile)"
              item-right></ion-icon>
            <ion-icon name="trash-outline" color="danger" style="margin-left: 10px;" class="per-ion-icon margin-top-10"
              (click)="deleteFile(perFile,i)"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-card> </span>
  </ion-list>
</ion-content>