h5 {
    position: relative;
    line-height: 1.2em;
    margin-left: 13px
  }
  h5:before {
    position: absolute;
    left: 0;
    top: 1.2em;
    height: 0;
    width: 70%;
    content: '';
    border-top: 1px solid #4682B4;
  }