<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="CommonService.showTabMenu =true">
      <ion-buttons slot="start" routerLink="../home">
        <ion-icon name="chevron-back-outline" class="xdsffdd"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Balance History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Balance History
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab slot="fixed" *ngIf="creditDebitListTotalRecord  >0" (click)="openAddRecordModal()" vertical="bottom"
    horizontal="end">

    <ion-button item-start color="primary">+ Add Record </ion-button>
  </ion-fab>
  <div *ngIf="creditDebitListTotalRecord==0" style="padding:10px">

    <img src="assets/accounting.jpg" style="height: 50%;
    width: 50%;" />
    <ion-card style="padding:1px;border: 1px solid red;">
      <h5 style="color:red;text-align:center;">
        No record added till now.
      </h5>
    </ion-card> <br /> <br />
    Hi. You have not added any record till now. You can added it using below button.
    <br /> <br />
    <ion-button item-start color="primary" (click)="openAddRecordModal()">+ Add
      Record</ion-button>
  </div>

  <ion-card
    *ngIf="creditDebitListTotalRecord>0 && CommonService.creditDebitList && CommonService.creditDebitList.length==0 "
    style="padding:10px">


    <ion-card style="padding:1px;border: 1px solid red;">
      <h5 style="color:red;text-align:center;">
        No filtered data found. Try to reset filtered parameters
      </h5>
    </ion-card>
  </ion-card>
  <ion-list *ngIf="CommonService.creditDebitList && CommonService.creditDebitList.length>0">

    <ion-item detail="true" class="itemborder" *ngFor="let perRecord of CommonService.creditDebitList; let i = index ">

      <ion-label>
        <p id="open-modal{{ i}}" (click)=" showingWhichSectionInModal='Info';">

          <b>{{perRecord. payment_title}}</b>
          <br />
          {{perRecord.paid_or_received=='Paid' ? 'Paid To' : 'Received From'}} : {{perRecord.paid_to_or_received_from}}
          <br />
          {{perRecord.paid_or_received=='Paid' ? 'Paid Amount' : 'Received Amount'}} : INR {{perRecord.amount}}
          <br />


          Payment Date : {{perRecord.payment_date | date: 'longDate'}}
          <span *ngIf="perRecord.account_title!=''">
            <br />
            Attached Account : {{perRecord.account_title }}
          </span>
          <br />
          {{perRecord.paid_or_received=='Paid' ? 'Paid Using'
          : 'Received Through'}} : <span *ngIf="perRecord.payment_mode!='Other'">{{perRecord.payment_mode }}</span>
          <span *ngIf="perRecord.payment_mode=='Other'">{{perRecord.payment_mode_name_if_other_selected }}</span>



          <span *ngIf="perRecord.otherdetails">
            <br /> {{perRecord.otherdetails}}
          </span>
        </p>
        <span>
          <ion-icon name="create-outline" class="per-ion-icon" (click)="editCreditDebit(perRecord.credit_debit_id_int)"
            item-right></ion-icon>
          <ion-icon name="trash-outline" item-right color="danger"
            (click)="deleteCreditDebit(i,perRecord.credit_debit_id_int)" class="per-ion-icon"></ion-icon>
        </span>
        <ion-chip style="float: right; width: 100px;margin-top: -2px;"
          [color]="perRecord.paid_or_received=='Paid' ? 'danger' :  'success'">
          <ion-icon name="arrow-up-outline" *ngIf="perRecord.paid_or_received=='Received'"></ion-icon>

          <ion-icon name="arrow-down-outline" *ngIf="perRecord.paid_or_received=='Paid'"></ion-icon>
          &nbsp; {{perRecord.paid_or_received=='Paid' ? 'Debit'
          : 'Credit'}}
        </ion-chip>

      </ion-label>
    </ion-item>

  </ion-list>
  <!--modall to show info-->
  <span *ngFor="let perRecord of CommonService.creditDebitList; let loopi = index ">
    <ion-modal *ngIf="CommonService.creditDebitList && CommonService.creditDebitList.length>0" #modal
      trigger="open-modal{{loopi}}" [initialBreakpoint]="1" [breakpoints]="[0, 0.25, 0.5, 0.75,0.85,0.90,1]">
      <ng-template>
        <ion-content>
          <h3 class="centerme">{{perRecord.payment_title}}</h3>
          <div style="min-height:90%;overflow-y: scroll;">

            <ion-chip style="float: right; width: 100px; "
            [color]="perRecord.paid_or_received=='Paid' ? 'danger' :  'success'">
            <ion-icon name="arrow-up-outline" *ngIf="perRecord.paid_or_received=='Received'"></ion-icon>

            <ion-icon name="arrow-down-outline" *ngIf="perRecord.paid_or_received=='Paid'"></ion-icon>
            &nbsp; {{perRecord.paid_or_received=='Paid' ? 'Debit'
            : 'Credit'}}
          </ion-chip>  <br /> 
            <div class="mycard">

              {{perRecord.paid_or_received=='Paid' ? 'Paid To' : 'Received From'}} :
              {{perRecord.paid_to_or_received_from}}
              <br />
              {{perRecord.paid_or_received=='Paid' ? 'Paid Amount' : 'Received Amount'}} : INR {{perRecord.amount}}
              <br />


              Payment Date : {{perRecord.payment_date | date: 'longDate'}}


              <br />
              {{perRecord.paid_or_received=='Paid' ? 'Paid Using'
              : 'Received Through'}} : <span *ngIf="perRecord.payment_mode!='Other'">{{perRecord.payment_mode }}</span>
              <span *ngIf="perRecord.payment_mode=='Other'">{{perRecord.payment_mode_name_if_other_selected }}</span>
            </div>
            <div class="mycard" *ngIf="perRecord.account_title!=''"> Attached Account : {{perRecord.account_title }}
            </div>



            <div class="mycard"
              *ngIf="perRecord.payment_mode && perRecord.payment_mode!='Cash' && perRecord.payment_mode!='Cheque'">
                   Transaction Id : {{perRecord.transaction_id}} <br /> Transaction Ref. No. :
              {{perRecord.transaction_ref}}

            </div>

            <div class="mycard" *ngIf="perRecord.payment_mode=='Cheque'">
            
            Cheque Issued To : {{perRecord.cheque_issued_to}}
              <br /> Cheque Issued Date : {{perRecord.cheque_date | date: 'longDate'}}
              <br /> Cheque Number : {{perRecord.cheque_no}}
              <br /> Cheque Bank : {{perRecord.cheque_bank}}
            </div>  <div class="mycard" *ngIf="perRecord.otherdetails">{{perRecord.otherdetails}}</div>
              


          
            <div class="mycard">
              <h6 style="padding-left: 10px;padding-right: 10px;" align="center" *ngIf="perRecord.imageArr.length>0">
                Documents </h6>
              <app-fileupload [moduleInfo]="moduleInfoList"
                (newmoduleInfo)="updateImageInfoFun($event,perRecord,loopi)"></app-fileupload>


              <ion-card *ngFor="let perFile of perRecord.imageArr.slice().reverse(); let i = index ">
                <ion-item>
                  <ion-thumbnail slot="start" (click)="viewDoc(perFile)">
                    <img *ngIf="perFile.filetype=='Image'" [src]="perFile.serverpath+perFile.filepath" />
                    <ion-icon style="font-size: xxx-large;" name="document-outline"
                      *ngIf="perFile.filetype!='Image'"></ion-icon>
                  </ion-thumbnail>
                  <ion-label>
                    <span (click)="viewDoc(perFile)">
                      {{perFile.originalname}}
                      <br />
                    </span>

                    <ion-icon name="download-outline" class="per-ion-icon margin-top-10" item-right
                      (click)="viewDoc(perFile)"></ion-icon>
                    <ion-icon name="trash-outline" color="danger" style="margin-left: 10px;"
                      class="per-ion-icon margin-top-10" (click)="deleteFile(perFile,i,perRecord,loopi)"></ion-icon>
                  </ion-label>
                </ion-item>
              </ion-card>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </span>


</ion-content>