<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="CommonService.showTabMenu =true">
      <ion-buttons slot="start" routerLink="../home">
        <ion-icon name="chevron-back-outline" class="xdsffdd"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Balance History 
          <p  *ngIf="CommonService.creditDebitList  " style="margin-top: -1px;
          font-size: 13px;" >
            Total Records : {{this.creditDebitListTotalRecord}}</p>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Balance History 
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab slot="fixed" *ngIf="creditDebitListTotalRecord  >0" (click)="openAddRecordModal()" vertical="bottom"
    horizontal="end">

    <ion-button item-start color="primary">+ Add Record </ion-button>
  </ion-fab>
  <div *ngIf="creditDebitListTotalRecord==0" style="padding:10px">

    <img src="assets/accounting.jpg" style="height: 50%;
    width: 50%;" />
    <ion-card style="padding:1px;border: 1px solid red;">
      <h5 style="color:red;text-align:center;">
        No record added till now.
      </h5>
    </ion-card> <br /> <br />
    Hi. You have not added any record till now. You can added it using below button.
    <br /> <br />
    <ion-button item-start color="primary" (click)="openAddRecordModal()">+ Add
      Record</ion-button>
  </div>

  <ion-card
    *ngIf="creditDebitListTotalRecord>0 && CommonService.creditDebitList && CommonService.creditDebitList.length==0 "
    style="padding:10px">


    <ion-card style="padding:1px;border: 1px solid red;">
      <h5 style="color:red;text-align:center;">
        No filtered data found. Try to reset filtered parameters
      </h5>
    </ion-card>
  </ion-card> 
  <ion-list style="margin-top: -5px;" *ngIf="CommonService.creditDebitList && CommonService.creditDebitList.length>0"  >

    <ion-item detail="true" class="itemborder" *ngFor="let perRecord of CommonService.creditDebitList; let i = index ">

      <ion-label>
        <p (click)="viewCreditDebit(i,perRecord.credit_debit_id_int)">

          <b>  {{perRecord. payment_title}}    </b>
          <br />
          {{perRecord.paid_or_received=='Paid' ? 'Paid To' : 'Received From'}} : {{perRecord.paid_to_or_received_from}}
          <br />
          {{perRecord.paid_or_received=='Paid' ? 'Paid Amount' : 'Received Amount'}} : INR {{perRecord.amount}}
          <br />


          Payment Date : {{perRecord.payment_date | date: 'longDate'}}
          <span *ngIf="perRecord.account_title!=''">
            <br />
            Attached Account : {{perRecord.account_title }}
          </span>
          <br />
          {{perRecord.paid_or_received=='Paid' ? 'Paid Using'
          : 'Received Through'}} : <span *ngIf="perRecord.payment_mode!='Other'">{{perRecord.payment_mode }}</span>
          <span *ngIf="perRecord.payment_mode=='Other'">{{perRecord.payment_mode_name_if_other_selected }}</span>


 
        </p>
        <span>
          <ion-icon name="create-outline" class="per-ion-icon" (click)="editCreditDebit(i,perRecord.credit_debit_id_int)"
            item-right></ion-icon>
          <ion-icon name="trash-outline" item-right color="danger"
            (click)="deleteCreditDebit(i,perRecord.credit_debit_id_int)" class="per-ion-icon"></ion-icon>
        </span>
        <ion-chip style="float: right; width: 100px;margin-top: -2px;"
          [color]="perRecord.paid_or_received=='Paid' ? 'danger' :  'success'">
          <ion-icon name="arrow-up-outline" *ngIf="perRecord.paid_or_received=='Received'"></ion-icon>

          <ion-icon name="arrow-down-outline" *ngIf="perRecord.paid_or_received=='Paid'"></ion-icon>
          &nbsp; {{perRecord.paid_or_received=='Paid' ? 'Debit'
          : 'Credit'}}
        </ion-chip>

      </ion-label>
    </ion-item>

  </ion-list>
 

</ion-content>