<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="CommonService.showTabMenu =false">
      <ion-buttons slot="start" (click)="routeBack()">
        <ion-icon name="chevron-back-outline" class="xdsffdd"></ion-icon>
      </ion-buttons>

    </ion-buttons>
    <ion-title class="ion-text-center">

      <span *ngIf="!task_id_int">
        Add Task <span *ngIf="task_for=='Agent' && agentDetailObj.name"> for {{agentDetailObj.name}}</span>
      </span> <span *ngIf="task_id_int">
        Update Task <span *ngIf="task_for=='Agent' && agentDetailObj.name"> of {{agentDetailObj.name}}</span>
      </span>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <span *ngIf="!task_id_int">
          Add Task <span *ngIf="task_for=='Agent' && agentDetailObj.name"> for {{agentDetailObj.name}}</span>
        </span> <span *ngIf="task_id_int">
          Update Task <span *ngIf="task_for=='Agent' && agentDetailObj.name"> of {{agentDetailObj.name}}</span>
        </span>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="centerme margin-top-10">
    <ion-button shape="round" (click)="saveDataOfTask()"> <span *ngIf="!task_id_int">
        Save Details
      </span> <span *ngIf="task_id_int">
        Update Details
      </span> </ion-button>
  </div>

  <small class="centerme" style="margin-top: 10px;">Fields with asterik (<span class="required">*</span>) are required
  </small>

  <ion-segment color="primary" value="detail" (ionChange)="segmentChange($event)">
    <ion-segment-button value="detail">
      <ion-label> Details </ion-label>
    </ion-segment-button>
    <ion-segment-button value="Softfile">
      <ion-label>Document </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="currentSegment=='detail'">


    <br />
    <span *ngIf="!task_for || task_for=='none' ">
      <ion-label position="floating" style="margin-left: 13px">Task For <span class="required">*</span>
      </ion-label>


      <br />
      <ion-chip class="form-chip"
        (click)="taskDetailObj.task_for='My';taskDetailObj.task_for_id_int=0; updateHardDocOfPolicyAndAccountWhenMytaskIsSelected() "
        [color]="taskDetailObj.task_for=='My'  ? 'secondary' :  'dark'">Me</ion-chip>
      <ion-chip class="form-chip"
        (click)="taskDetailObj.task_for='Agent';taskDetailObj.task_for_id_int=0;checkifinfoexiss();manageSelectedhardTocInTasK('Policy');manageSelectedhardTocInTasK('Account');  "
        [color]="taskDetailObj.task_for=='Agent' ? 'secondary' :  'dark'">Agent</ion-chip>
      <br />

    </span>
    <span
      *ngIf="CommonService.agentList && taskDetailObj.task_for=='Agent' && (!task_for_id_int  || task_for_id_int==0)">

      <ion-item>
        <ion-label position="floating">Select Agent <span class="required">*</span></ion-label>
        <ion-select placeholder="Select Agent *" (ionChange)="updateDropDownValuesForSelectAccountHolderAndAgent();manageSelectedhardTocInTasK('Policy');manageSelectedhardTocInTasK('Account');"
          [(ngModel)]="taskDetailObj.task_for_id_int" [selectedText]="taskDetailObj.agent_name">
          <ion-select-option value="{{perAgent.agent_id_int}}" *ngFor="let perAgent of   JustagentList; ">
            {{perAgent.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button fill="clear" style="font-size: small;" (click)="adduser('Agent')">Add Agent</ion-button>
    </span>
    <ion-item>
      <ion-label position="floating">Task Title <span class="required">*</span></ion-label>
      <ion-input placeholder="" [(ngModel)]="taskDetailObj.taskname" maxlength="36"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Task Detail <span class="required">*</span></ion-label>
      <ion-textarea [autoGrow]="true" placeholder=" " [(ngModel)]="taskDetailObj.taskdetail"></ion-textarea>
    </ion-item>
    <span>
      <br />
      <ion-label style="margin-left: 13px" position="floating">Task Priority <span class="required">*</span></ion-label>


      <br />
      <ion-chip class="form-chip" (click)="taskDetailObj.taskpriority='High';  "
        [color]="taskDetailObj.taskpriority=='High'  ? 'secondary' :  'dark'">High</ion-chip>
      <ion-chip class="form-chip" (click)="taskDetailObj.taskpriority='Medium';  "
        [color]="taskDetailObj.taskpriority=='Medium' ? 'secondary' :  'dark'">Medium</ion-chip>
      <ion-chip class="form-chip" (click)="taskDetailObj.taskpriority='Low';  "
        [color]="taskDetailObj.taskpriority=='Low' ? 'secondary' :  'dark'">Low</ion-chip>
      <br />
      <br />
    </span>
    <ion-item>
      <ion-label position="floating" class="margin-bottom-12">Task Start Date <span
          class="required">*</span></ion-label>
      <ion-input type="date" [(ngModel)]="taskDetailObj.start_date"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label position="floating" class="margin-bottom-12">Task Start Time </ion-label>
      <ion-input type="time" [(ngModel)]="taskDetailObj.start_time"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label position="floating" class="margin-bottom-12">Task End Date <span class="required">*</span></ion-label>
      <ion-input type="date" [(ngModel)]="taskDetailObj.expected_end_date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="margin-bottom-12">Task End Time </ion-label>
      <ion-input type="time" [(ngModel)]="taskDetailObj.expected_end_time"></ion-input>
    </ion-item>

    <span *ngIf="CommonService.accountList   ">

      <ion-item>
        <ion-label position="floating">Select Account </ion-label>
        <ion-select placeholder="Select Account" (ionChange)="updateDropDownValuesForSelectAccount()"
          [(ngModel)]="taskDetailObj.account_id_int" [selectedText]="taskDetailObj.account_title">


          <span *ngFor="let perAccount of   CommonService.accountList   ; ">
            <ion-select-option value="{{perAccount.account_id_int}}" *ngIf="perAccount.account_or_policy=='Account' ">
              {{perAccount.account_title}}
            </ion-select-option>
          </span>

        </ion-select>
      </ion-item>
      <ion-button fill="clear" style="font-size: small;" (click)="addAccountPolicy('Account')">Add Account</ion-button>
      <div class="mycard" *ngIf="accountHardCopyDocArr.length>0 && taskDetailObj.task_for=='Agent'">

       
        <span *ngFor="let perhardFile of accountHardCopyDocArr; let i = index ">
          <span *ngIf="perhardFile.available"> 
            <h6 align="center" *ngIf=" i==0">Select {{taskDetailObj.account_title}} account's physical documents you are giving to
              agent</h6>
          <ion-chip class="form-chip" *ngIf=" perhardFile.available" (click)="perhardFile.selected=!perhardFile.selected"
            [color]="perhardFile.selected==true ? 'secondary' :  'dark'">
            {{perhardFile.document_name}}
          </ion-chip> </span>
        </span>

        <span *ngFor="let perhardFile of accountHardCopyDocArr; let i = index ">
          <span *ngIf="!perhardFile.available">  
             <h6 align="center"  *ngIf=" i==0">Following physical docs are not with you ! </h6>
             <ion-card>
              <ion-card-header>
                <ion-card-subtitle>  Document : {{perhardFile.document_name}}<br />
              Task : {{perhardFile.task_name}}<br />
              Agent : {{perhardFile.agent_name}}
            </ion-card-subtitle>
            
          </ion-card-header></ion-card></span>
        </span>

      </div>


      <ion-item>
        <ion-label position="floating">Select Policy </ion-label>
        <ion-select placeholder="Select Policy" (ionChange)="updateDropDownValuesForSelectPolicy()"
          [(ngModel)]="taskDetailObj.policy_id_int" [selectedText]="taskDetailObj.policy_title">


          <span *ngFor="let perAccount of   CommonService.accountList   ; ">
            <ion-select-option value="{{perAccount.account_id_int}}" *ngIf="perAccount.account_or_policy=='Policy' ">
              {{perAccount.account_title}}
            </ion-select-option>
          </span>

        </ion-select>
      </ion-item>
      <ion-button fill="clear" style="font-size: small;" (click)="addAccountPolicy('Policy')">Add Policy</ion-button>
      <div class="mycard" *ngIf="policyHardCopyDocArr.length>0 && taskDetailObj.task_for=='Agent'">

       
        <span *ngFor="let perhardFile of policyHardCopyDocArr; let i = index ">
          <span *ngIf="perhardFile.available"> 
            <h6 align="center" *ngIf=" i==0">Select {{taskDetailObj.policy_title}} policy's physical documents you are giving to
              agent</h6>
          <ion-chip class="form-chip" *ngIf=" perhardFile.available" (click)="perhardFile.selected=!perhardFile.selected"
            [color]="perhardFile.selected==true ? 'secondary' :  'dark'">
            {{perhardFile.document_name}}
          </ion-chip> </span>
        </span>

        <span *ngFor="let perhardFile of policyHardCopyDocArr; let i = index ">
          <span *ngIf="!perhardFile.available">  
             <h6 align="center"  *ngIf=" i==0">Following physical docs are not with you ! </h6>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>  Document : {{perhardFile.document_name}}<br />
            Task : {{perhardFile.task_name}}<br />
            Agent : {{perhardFile.agent_name}}
          </ion-card-subtitle>
          
        </ion-card-header></ion-card></span>
        </span>

      </div>
    </span>

  </ion-list>
  <ion-list *ngIf="currentSegment=='Softfile'">
    <app-fileupload [moduleInfo]="moduleInfo" (newmoduleInfo)="updateImageInfoFun($event)"></app-fileupload>

    <ion-card *ngFor="let perFile of taskDetailObj.imageArr.slice().reverse(); let i = index ">
      <ion-item>
        <ion-thumbnail slot="start" (click)="viewDoc(perFile)">
          <img *ngIf="perFile.filetype=='Image'" [src]="perFile.serverpath+perFile.filepath" />
          <ion-icon style="font-size: xxx-large;" name="document-outline" *ngIf="perFile.filetype!='Image'"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          {{perFile.originalname}}
          <br />
          <ion-icon name="download-outline" class="per-ion-icon margin-top-10" (click)="viewDoc(perFile)"
            item-right></ion-icon>
          <ion-icon name="trash-outline" color="danger" style="margin-left: 10px;" class="per-ion-icon margin-top-10"
            (click)="deleteFile(perFile,i)"></ion-icon>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>