ion-col { 
  border: none;
  color: #fff;
  text-align: center;
}
.halfdivss{
  background-color: #b3cee5 !important;
}

.stats{
  border: 0.5px solid lightgray;
  /* margin: 10px; */
  width: 90%; 
}

